* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;              /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #EEEEEE;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {/* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #004c8e;  /* padding вокруг плашки */
}

a {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #FFFFFF;
    border-radius: 0px 20px 0px 0px;
    padding: 24px 16px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: rgb(0, 0, 0);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    filter: invert(0);
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #FFFFFF;
    border-radius: 0px 20px 0px 0px;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #2E3238;
    border-radius: 10px;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #2E3238;
    border-radius: 10px;
    color: #FFF;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a .links_name {
    color: #1C1E22;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
    font-size: 35px;
    filter: invert(1);
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
    align-items: center;
    filter: invert(1);
}

.bx svg{
    filter: invert(1);
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin-left: 10px;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #000000;
    border-radius: 0px 20px 0px 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    font-size: 25px;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
    font-size: 25px;
}

.profile_img {
    margin-left: 15px;
}

.home-section {
    position: relative;
    background: #EEEEEE;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}


.header_now {
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    max-width: 100%;
    margin-left: 47px;
    margin-right: 47px;
}

.header_content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #9A9A9A;
    margin-left: 40px;
}

.dark_teme {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.date_container {
    display: flex;
    gap: 15px;
    align-items: center;
    filter: invert(0.5);
}

.txt_date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #9A9A9A;
}

.content_home {
    padding: 47px;
    display: flex;
    justify-content: space-between;
}

.title_home {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #1C1E22;
}

.order_now {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #1C1E22;
}

.title_order h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.Product {
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
}

.title_list {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #1C1E22;
    padding-top: 30px;
    padding: 30px;
    width: 150px;
}

.table_cont {
    padding: 30px;
}

.table {
    width: 100%;
    margin-bottom: 80px;
    border-collapse: collapse;
    padding: 50px;
    color: #1C1E22;
    border-radius: 80px;
}

.table th {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #1C1E22;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1C1E22;
    text-align: left;
}

.table td {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #1C1E22;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1C1E22;
}

.summ p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #33a0ff;
    margin-top: -52px;
}